footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 15.6rem 7.2rem 15.6rem;
    margin: 0 auto;
}

& .footer-shape {
    background: url(../assets/images/book-trace-background.png) no-repeat center top;
    background-size: cover;

    & .footer-left {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        & .logo {
            width: 16.5rem;
        }

        & .social-icons {
            display: flex;
            justify-content: space-between;
            width: 16.5rem;
        }
    }

    & .columns {
        display: flex;
        gap: 3.5rem;

        & .footer-column {
            & ul {
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 16px;
                color: var(--blue-light);

                display: flex;
                flex-direction: column;
                gap: 0.875rem;
                margin-top: 1.25rem;
            }
        }
    }
}

