.kit-mensal {
    text-align: center;
    position: relative;

    /* Título com estrelas */
    & .title-stars {
        display: flex;
        align-items: center;
        justify-content: center;

        & h2 {
            font-size: 2rem;
            line-height: 38px;
        }

        & .star {
            width: 1.875rem;
        }
    }
}

/* Área animada */

.book-area {
    position: relative;
    display: inline-block;
    margin-top: 5.5rem;
    transform: translateY(50px);
    animation: revealSection 1s forwards;
    animation-delay: 0.3s;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    opacity: 0;

    & .livro-img {
        position: relative;
        width: 29.1rem;
        max-width: 100%;
        z-index: 2;
    }

    & .icon {
        position: absolute;
        opacity: 0;
        transform: scale(0.8);
        animation: fadeInIcon 0.6s ease-out forwards;
        animation-timeline: view();
        animation-range: entry 30% cover;
    }

    & .bookmark-purple {
        width: 10.75rem;
        /*top: -799px;
        left: 310px;
        z-index: 0;*/

        & img {
            transform: rotate(22deg);
        }
    }

    & .bookmark-yellow {
        width: 10.75rem;
        top: -80px;
        right: -130px;
        z-index: 1;
        animation-delay: 0.4s;
        
        & img {
            transform: rotate(12deg);
        }
        
    }

    & .pin {
        width: 13.875rem;
    }

    & .arrow-box {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        text-align: center;

        transform: translateY(20px);
        animation: fadeInArrow 1s forwards;
        animation-timeline: view();
        animation-range: entry 40% cover 50%;
    }
}

@keyframes fadeInIcon {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes revealSection {
    to {
        opacity: 1;
        transform: translateY(0);;
    }
}